body {
  margin: 0;
  background-color: #dcdcdc;
}

.mines_field {
  background-color: #beb5c5;
  border: 1px solid #32363f;
}

table {
  padding: 0;
  margin: 0 auto;
  border-spacing: 0;
}

.record_field {
  background-color: white;
}

#table tr {
  margin: 0;
  padding: 0;
}

#table td {
  padding: 5px;
  margin: 0;
  border: 1px dashed dimgray;
  width: 15px;
  height: 15px;
  text-align: center;
}

td:hover {
  cursor: pointer;
}

.status {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.header-text {
  font-weight: bold;
  font-size: 20px;
  color: #112503;
}

.header {
  margin: 0 auto;
}

.game_field {
  text-align: center;
  visibility: hidden;
}

.popup_form {
  margin-bottom: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p#finish {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: #112503;
  font-weight: bold;
}

.popup_window {
  background-color: #659980;
  width: 300px;
  height: 300px;
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border: 1px solid #32363f;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#finish_window {
  visibility: hidden;
  padding-bottom: 50px;
}

input {
  text-align: center;
}

.error_value {
  color: red;
}

#start_setting_form > p {
  color: #112503;
  font-weight: bold;
}

#m_value,
#n_value {
  border: 1px solid #32363f;
  border-radius: 5px;
}

.button {
  background-color: #e9a655;
  color: #112503;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #32363f;
  padding: 5px;
  border-radius: 5px;
}

.instruction-bold {
  font-weight: bold;
}

.instruction {
  text-align: center;
}

.buttons {
  text-align: center;
}

.field_button {
  margin: 10px 5px;
  width: 135px;
}

#close_form {
  position: absolute;
  bottom: 15px;
  left: calc(176px - 35px);
}

.results {
  display: inline-block;
}
