body {
    margin: 0;
}

table {
    background-color: gray;
    border: 1px solid black;
    padding: 0;
    margin: 0 auto;
    border-spacing: 0;
}

tr {
    margin: 0;
    padding: 0;
}

td {
    padding: 5px;
    margin: 0;
    border: 1px dashed dimgray;
}

#mineleft {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.header-text {
    font-weight: bold;
    font-size: 20px;
}

.header {
    margin: 0 auto;
}

.game_field {
    text-align: center;
    visibility: hidden;
} 

.start_setting {
    background-color: blue;
    width: 300px;
    position: absolute;
    left: calc(50% - 150px);
    top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}